<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="baidu-site-verification" content="m1imKvW1HK"/>
    <link rel="shortcut icon" href="/Public/img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no"/>
    <!-- 删除默认的苹果工具栏和菜单栏 ： 即启用 WebApp 全屏模式  -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 在web app应用下状态条（屏幕顶部条）的颜色；默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明）若值为“black-translucent”将会占据页面px位置，浮在页面上方（会覆盖页面20px高度–iphone4和itouch4的Retina屏幕为40px）。 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!-- 忽略数字自动识别为电话号码 ,忽略识别邮箱 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait"/>
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="true"/>
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true"/>
    <!-- 360强制全屏 -->
    <meta name="360-fullscreen" content="true"/>
    <!-- 站内搜索站点验证 -->
    <meta name="baidu-site-verification" content="m1imKvW1HK"/>
    <link rel="shortcut icon" href="/Public/img/favicon.ico" type="image/x-icon">
    <link href="public/css/lib/bootstrap.min.css?v=14" rel="stylesheet">

    <![endif]-->
    <link rel="stylesheet" href="./public/css/common.css?v=16">
    <link href="./public/css/lib/swiper.min.css?v=3" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/index.css?v=17">
    <title>关于百度</title>
    <meta name="description" content="百度是一家持续创新的,以“用科技让复杂世界更简单”为使命的高科技公司。">
    <meta name="keywords"
          content="关于百度、百度公司、百度公司官网、百度集团、百度集团官网、百度怎么样、百度公司怎么样、百度集团怎么样、百度是一家什么样的公司、百度工作环境、百度办公环境、百度工作怎么样、在百度工作怎么样。">
</head>

<body id="indexAdmin">
<div class="h5-nav-bar J-bd-nav">
    <!-- <div class="h5-nav-search-btn"></div> -->
    <div class="logo-box">
        <img src="/Public/img/logo.png?v=15" alt="" class="h5-nav-logo">
    </div>
    <svg id="list" class="h5-nav-toggle-box" width="44" height="44" viewBox="0, 0, 44, 44"></svg>
    <div class="h5-nav-list">
        <a href="/home/index" class="h5-nav h5-active" target="_blank">关于百度</a>
        <a href="//www.baidu.com/more/" class="h5-nav" target="_blank">关于产品</a>
        <a href="/home/index/join_us" class="h5-nav" target="_blank">加入我们</a>
        <a href="/home/index/contact_us" class="h5-nav" target="_blank">联系我们</a>
        <a href="//ir.baidu.com/phoenix.zhtml?c=188488&p=irol-irhome" class="h5-nav" target="_blank">ENGLISH</a>
    </div>
</div>
<div class="h5-nav-mask"></div>

<div class="main">
    <div class="main-body">
        <div class="full-section news-section">
            <div class="section">
                <div class="bd-home-news card-deck-wrapper">
                    <div class="news-content">
                        <div class="swiper-slide swiper-no-swiping">
                            <!-- 判断是跳链接 还是二级页面 -->
                            <a href="http://ai.baidu.com/" target="_blank">
                                <div class="card bd-home-new">
                                    <div class="img-outer">
                                        <div class="img-inner">
                                            <img class="card-img"
                                                 src="http://static.home.baidu.com/homebd/imlbejgkndchaf1496971659.jpg?authorization=bce-auth-v1%2Fe6803def36ae467f81ebdb4bdc75f119%2F2017-06-09T01%3A27%3A39Z%2F-1%2F%2F25b707ca10a5e3ef1300fc624c81c33c6c6519306163eea9b527a3feca5ffa2a"
                                                 alt="Card image cap">
                                            <div class="card-block">
                                                <div class="bd-news-span">
                                                    百度AI开放平台
                                                    <!-- <span class="bd-newspan-line"></span> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="swiper-slide swiper-no-swiping">
                            <!-- 判断是跳链接 还是二级页面 -->
                            <a href="http://dueros.baidu.com/" target="_blank">
                                <div class="card bd-home-new">
                                    <div class="img-outer">
                                        <div class="img-inner">
                                            <img class="card-img"
                                                 src="http://static.home.baidu.com/homebd/jgchdfeimanlbk1507862286.jpg?authorization=bce-auth-v1%2Fe6803def36ae467f81ebdb4bdc75f119%2F2017-10-13T02%3A38%3A06Z%2F-1%2F%2Fa3800e1ca37ba6621ccbc31f789cc0c91162f44f4ee231a99239a662ece2f064"
                                                 alt="Card image cap">
                                            <div class="card-block">
                                                <div class="bd-news-span">
                                                    DuerOS，唤醒万物
                                                    <!-- <span class="bd-newspan-line"></span> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                        <div class="swiper-slide swiper-no-swiping">
                            <!-- 判断是跳链接 还是二级页面 -->
                            <a href="http://apollo.auto/" target="_blank">
                                <div class="card bd-home-new">
                                    <div class="img-outer">
                                        <div class="img-inner">
                                            <img class="card-img"
                                                 src="http://static.home.baidu.com/homebd/cjaghbeimldnkf1528365802.jpg?authorization=bce-auth-v1%2Fe6803def36ae467f81ebdb4bdc75f119%2F2018-06-07T10%3A03%3A23Z%2F-1%2F%2F9b856951d800dfaebb7644932bcbccfda86f237430c4bb6f0afbebf03d51d087"
                                                 alt="Card image cap">
                                            <div class="card-block">
                                                <div class="bd-news-span">
                                                    百度自动驾驶平台Apollo
                                                    <!-- <span class="bd-newspan-line"></span> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-section h5-news-section">
            <!-- 判断是跳链接 还是二级页面 -->
            <a href="http://ai.baidu.com/" class="h5-news-item" target="_blank">
                <div class="h5-news-item-left">
                    <div class="img-outer">
                        <div class="img-inner">
                            <img class="card-img"
                                 src="http://static.home.baidu.com/homebd/imlbejgkndchaf1496971659.jpg?authorization=bce-auth-v1%2Fe6803def36ae467f81ebdb4bdc75f119%2F2017-06-09T01%3A27%3A39Z%2F-1%2F%2F25b707ca10a5e3ef1300fc624c81c33c6c6519306163eea9b527a3feca5ffa2a"
                                 alt="Card image cap">
                        </div>
                    </div>
                </div>
                <div class="h5-news-item-right">
                    百度AI开放平台
                </div>
            </a> <a href="http://dueros.baidu.com/" class="h5-news-item" target="_blank">
            <div class="h5-news-item-left">
                <div class="img-outer">
                    <div class="img-inner">
                        <img class="card-img"
                             src="http://static.home.baidu.com/homebd/jgchdfeimanlbk1507862286.jpg?authorization=bce-auth-v1%2Fe6803def36ae467f81ebdb4bdc75f119%2F2017-10-13T02%3A38%3A06Z%2F-1%2F%2Fa3800e1ca37ba6621ccbc31f789cc0c91162f44f4ee231a99239a662ece2f064"
                             alt="Card image cap">
                    </div>
                </div>
            </div>
            <div class="h5-news-item-right">
                DuerOS，唤醒万物
            </div>
        </a> <a href="http://apollo.auto/" class="h5-news-item" target="_blank">
            <div class="h5-news-item-left">
                <div class="img-outer">
                    <div class="img-inner">
                        <img class="card-img"
                             src="http://static.home.baidu.com/homebd/elcmibfkgndhja1528365540.jpg?authorization=bce-auth-v1%2Fe6803def36ae467f81ebdb4bdc75f119%2F2018-06-07T09%3A59%3A00Z%2F-1%2F%2F37329d00344955400ff5d6babefe4608534741fa58e4bedc0901e94343cfef5f"
                             alt="Card image cap">
                    </div>
                </div>
            </div>
            <div class="h5-news-item-right">
                百度自动驾驶平台Apollo
            </div>
        </a> <a href="/home/index/news_list" class="h5-more">查看更多</a>
        </div>
        <div class="full-section dynamic-section">
            <div class="section">
                <div class="section-title">百度动态</div>
                <a class="btn btn-success" href="/news/add">添加新闻   </a>
                <div class="bd-home-dynamic-content">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="bd-dynamic-news">
                                <div class="dynamic-title1">
                                    新闻动态
                                </div>
                                <div class="news-list">
                                    {{each news}}
                                    <div class="news-item">
                                        <div class="decoration">
                                            <div class="news-circle">
                                                <div class="solid-circle"></div>
                                            </div>
                                        </div>
                                        <div class="news-box">
                                            <a href="/home/index/news_detail/id/17954" class="news-title"
                                               data-id="17954" target="_blank">{{$value.title}}</a>
                                            <div class="news-time">
                                                {{$value.time}}
                                            </div>

                                            <a href="/edit?id={{$value.id}}">编辑</a>
                                            <a href="/delete?id={{$value.id}}">删除</a>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                <div class="more-news">
                                    <a href="/home/index/news_list" target="_blank">
                                        <span class="more-news-tip">更多新闻</span>
                                        <!-- <img data-original="/Public/img/gray_right.png" alt="" class="more-news-img "> -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>