<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test-echarts-散点图</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- <link rel="stylesheet" href="/framework-ui/src/main/resources/static/agcloud/framework/js-lib/element-2/element.css"
           th:href="@{/agcloud/framework/js-lib/element-2/element.css}">-->
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="piePage">
    <h3>圆饼图大观园</h3>
    <div class="total-list">
        <div class="total-item" v-for="(totalItem,tIndex) in totalArray">
            <div>
                <div class="label">{{totalItem.label}}</div>
                <div class="value">{{totalItem.value}}</div>
            </div>
            <img src="" alt="" style="width:54px;height:54px;">
        </div>
    </div>
    <div class="panel-list">
        <el-card class="box-card">
            <div class="panel-title">组织统计概况</div>
            <div class="panel-list">
                <template v-for="(optionItem,oIndex) in pieArray">
                    <child :id="optionItem.id" :pie-options="optionItem.pieOptions" :table-options="optionItem.tableOptions">

                    </child>
                </template>
            </div>
        </el-card>
    </div>
</div>

<script>
    // 定义子组件
    Vue.component("child", {
        // 接收父组件传递过来的参数
        props: ["id","pieOptions","tableOptions"],

        data() {
            return {

            }
        },
        template: `
            <div class="panel">
                <div :id="id" class="pie-area" style="height:350px;width:300px;"></div>
                <el-table
                :data="tableOptions.data"
                :border="tableOptions.setting.border"
                :class="{'no-border-table':!tableOptions.setting.border}"
                style="width: 40%">
                    <el-table-column v-if="tableOptions != undefined && tableOptions != null"
                            v-for="(item, index) in tableOptions.tableColumns"
                            :prop="item.prop"
                            :label="item.label"
                            :key="item.id"
                            show-overflow-tooltip
                    >
                    </el-table-column>
                </el-table>
            </div>
        `,

        mounted(){
            this.getProject()
        },
        methods: {
            //获取右边的列表和饼状图的数据
            getProject() {
                var myChart = echarts.init(document.getElementById(this.id));
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(this.pieOptions);
            }
        }
    });

    // 指定图表的配置项和数据
    const option = {
        tooltip: {
            trigger: 'item'
        },
        legend: {
            top: '5%',
            left: 'center'
        },
        title:{
            text:'图表标题',
            textStyle:{
                color: "#575962",
            },
            left: '40%',
            top: '6%',
            textAlign:'center',
            textVerticalAlign:'auto',
        },
        series: [
            {
                name: '访问来源1',
                type: 'pie',
                radius: ['40%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    label: {
                        show: true,
                        fontSize: '40',
                        fontWeight: 'bold'
                    }
                },
                labelLine: {
                    show: false
                },
                data: [
                    {value: 1048, name: '搜索引擎1',orgName:'111111',orgId:'1234'},
                    {value: 735, name: '直接访问2',orgName:'111111',orgId:'1234'},
                ],
                stateAnimation:{
                    duration:300,
                    easing:"cubicOut"
                },
                animation:'auto',
                animationDuration:1000,
                animationDurationUpdate:500,
                animationEasing:'cubicInOut',
                animationEasingUpdate:'cubicInOut',
                itemStyle:{
                    pieBorderRadius: 10,
                    borderColor:'#fff',
                    borderWidth:2,
                }
            }
        ]
    };
    const anotherOption = {
        /*title: {
            text: '南丁格尔玫瑰图',
            subtext: '纯属虚构',
            left: 'center'
        },*/
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
            top: '5%',
            left: 'center'
        },
        series: [
            {
                name: '半径模式',
                width: "40%",
                type: 'pie',
                radius: [20, 140],
                center: ['95%', '65%'],
                roseType: 'radius',
                itemStyle: {
                    borderRadius: 5
                },
                label: {
                    show: false
                },
                emphasis: {
                    label: {
                        show: true
                    }
                },
                data: [
                    {value: 40, name: 'rose 1'},
                    {value: 33, name: 'rose 2'},
                    {value: 28, name: 'rose 3'},
                    {value: 22, name: 'rose 4'}
                ]
            }
        ]
    };
    const barOptions =  {
        title: {
            text: '世界人口总量',
            subtext: '数据来自网络'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {
            data: ['2011年', '2012年']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
        },
        yAxis: {
            type: 'category',
            data: ['巴西', '印尼', '美国', '印度', '中国', '世界人口(万)']
        },
        series: [
            {
                name: '2011年',
                type: 'bar',
                data: [18203, 23489, 29034, 104970, 131744, 630230]
            }
        ]
    };
    const simpleBarOptions =  {
        legend: {},
        tooltip: {},
        dataset: {
            source: [
                ['product', '2015', '2016', '2017'],
                ['Matcha Latte', 43.3, 85.8, 93.7],
                ['Milk Tea', 83.1, 73.4, 55.1],
                ['Cheese Cocoa', 86.4, 65.2, 82.5],
                ['Walnut Brownie', 72.4, 53.9, 39.1]
            ]
        },
        xAxis: {type: 'category'},
        yAxis: {},
        // Declare several bar series, each will be mapped
        // to a column of dataset.source by default.
        series: [
            {type: 'bar'},
            {type: 'bar'},
            {type: 'bar'}
        ]
    };
    new Vue({
        el: '#piePage',
        data: function() {
           return {
               totalArray:[
                   {label:'总组织',value:'1234',img:''},
                   {label:'行政区划',value:'1234',img:''},
                   {label:'单位',value:'1234',img:''},
                   {label:'部门',value:'1234',img:''},
                   {label:'工作组',value:'1234',img:''},
                   {label:'总用户数',value:'1234',img:''},
                   {label:'总岗位数',value:'1234',img:''},
               ],
               pieArray:[
                   {
                       id:'pie1',
                       pieOptions:option,
                       tableOptions:{
                           setting:{
                               border: true,

                           },
                           data:[
                               {
                               date: '2016-05-02',
                               name: '王小虎',
                               address: ' 1518 弄'
                               }, {
                                   date: '2016-05-04',
                                   name: '王小虎',
                                   address: ' 1517 弄'
                               }, {
                                   date: '2016-05-01',
                                   name: '王小虎',
                                   address: ' 1519 弄'
                               }, {
                                   date: '2016-05-03',
                                   name: '王小虎',
                                   address: ' 1516 弄'
                               }
                           ],
                           tableColumns:[
                               {id:'date',prop:'date',label:'日期'},
                               {id:'name',prop:'name',label:'姓名'},
                               {id:'address',prop:'address',label:'地址'}
                           ]
                       }
                   },
                   {
                       id:'pie2',
                       pieOptions:anotherOption,

                       tableOptions:{
                           setting:{
                               border: false,

                           },
                           data:[
                               {
                                   date: '2016-05-02',
                                   name: '王小虎',
                                   address: ' 1518 弄'
                               }, {
                                   date: '2016-05-04',
                                   name: '王小虎',
                                   address: ' 1517 弄'
                               }, {
                                   date: '2016-05-01',
                                   name: '王小虎',
                                   address: ' 1519 弄'
                               }, {
                                   date: '2016-05-03',
                                   name: '王小虎',
                                   address: ' 1516 弄'
                               },

                           ],
                           tableColumns:[
                               {id:'date',prop:'date',label:'日期'},
                               {id:'name',prop:'name',label:'姓名'},
                               {id:'address',prop:'address',label:'地址'}
                           ]
                       }
                   },
                   {
                       id:'pie3',
                       pieOptions:option,
                       tableOptions:{
                           setting:{
                               border: false,

                           },
                           data:[
                               {
                                   date: '2016-05-02',
                                   name: '王小虎',
                                   address: ' 1518 弄'
                               }, {
                                   date: '2016-05-04',
                                   name: '王小虎',
                                   address: ' 1517 弄'
                               }, {
                                   date: '2016-05-01',
                                   name: '王小虎',
                                   address: ' 1519 弄'
                               }, {
                                   date: '2016-05-03',
                                   name: '王小虎',
                                   address: ' 1516 弄'
                               }
                           ],
                           tableColumns:[
                               {id:'date',prop:'date',label:'日期'},
                               {id:'name',prop:'name',label:'姓名'},
                               {id:'address',prop:'address',label:'地址'}
                           ]
                       }
                   },
                   {
                       id:'pie4',
                       pieOptions:anotherOption,
                       tableOptions:{
                           setting:{
                               border: true,

                           },
                           data:[
                               {
                                   date: '2016-05-02',
                                   name: '王小虎',
                                   address: ' 1518 弄'
                               }, {
                                   date: '2016-05-04',
                                   name: '王小虎',
                                   address: ' 1517 弄'
                               }, {
                                   date: '2016-05-01',
                                   name: '王小虎',
                                   address: ' 1519 弄'
                               }, {
                                   date: '2016-05-03',
                                   name: '王小虎',
                                   address: ' 1516 弄'
                               }
                           ],
                           tableColumns:[
                               {id:'date',prop:'date',label:'日期'},
                               {id:'name',prop:'name',label:'姓名'},
                               {id:'address',prop:'address',label:'地址'}
                           ]
                       }
                   },
               ]
           }
        },
        computed:{

        },
        created(){
            this.getChartsData();
        },
        methods:{
            getChartsData:function(){

            },
        }
    })
</script>
</body>
<style>
    body{
        width:1721px;
        background-color: #EFF1F5;
    }
    /*总统计*/
    .total-list{
        display: flex;
        margin-bottom:17px;
    }
    .total-item{
        margin-left:15px;
        width:230px;
        height:100px;
        padding:26px;
        display: flex;
        align-items: center;
        background-color: #fff;
        box-sizing: border-box;
    }
    .total-item .label{
        color:#575962;
        font-size:16px;
    }
    .total-item .value{
        color:#575962;
        font-size:24px;
    }
    /*下面的卡片布局*/
    .el-card{
        margin-bottom:20px;
    }
    .el-card__body{
       padding:0;
    }
    .el-card__body:after{
        content:'';
        clear:both;
    }
    .panel-title{
        height:48px;
        line-height: 48px;
        border-bottom:1px solid #DCDFE6;
        padding-left:15px;
    }
    .panel-list{
        display:flex;flex-wrap:wrap;
    }
    .pie-area{
        width:600px;
        height:500px;
        float:left;
    }
    .panel{
        overflow:hidden;
        border-bottom:1px solid #DCDFE6;
        padding:20px;
        box-sizing: border-box;
    }
    .panel:nth-child(2n+1){
        width:660px;
    }
    .panel:nth-child(2n){
        flex-grow:1;
    }
    .panel:nth-child(2n+1){
        padding-right:10px;
        border-right:1px solid #DCDFE6;
    }
    .panel:last-child{
        border-bottom:none;
    }
    .panel:nth-last-child(2){
        border-bottom:none;
    }
    .panel:after{
        content:'';
        clear:both;
    }
    .panel .el-table{
        float:right;
    }
    .no-border-table .el-table__body .el-table__row td{
        border-bottom:none !important;
    }
    .no-border-table .has-gutter th{
        border-bottom:none !important;
    }
    .no-border-table::before{
        background-color:#fff;
    }
</style>
</html>