body {
    background-color: #f5f5f9;
    font-size: 14px;
    margin: 0;
}

body {
    margin: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-variant: tabular-nums;
    line-height: 1.5;
    background-color: #fff;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
}

/*修改滚动条样式*/
.editor--G9Ono ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #f8f8f8;
}

.editor--G9Ono ::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: #e8e8e8;
}

/*!* 滚动条样式 *!
.task-scrollbar{
    width:200px;height:300px;overflow-y:scrool;
}
.task-scrollbar::-webkit-scrollbar {
    !*滚动条整体样式*!
    width : 10px;
    !*高宽分别对应横竖滚动条的尺寸*!
    height: 1px;    }
.task-scrollbar::-webkit-scrollbar-thumb {
    !*滚动条里面小方块*!
    border-radius: 10px;
    box-shadow   : inset 0 0 5px rgba(20, 72, 8,0.3);
    background   : #0097fb;    }
.task-scrollbar::-webkit-scrollbar-track {
    !*滚动条里面轨道*!
    box-shadow   : inset 0 0 5px rgba(255, 0, 0, 0.2);
    border-radius: 10px;
    background   : #f5f8fa;}*/

/*.bar{
    scrollbar-arrow-color: #f4ae21; !**!!*三角箭头的颜色*!
    scrollbar-face-color: #333; !**!!*立体滚动条的颜色*!
    scrollbar-3dlight-color: #666; !**!!*立体滚动条亮边的颜色*!
    scrollbar-highlight-color: #666; !**!!*滚动条空白部分的颜色*!
    scrollbar-shadow-color: #999; !**!!*立体滚动条阴影的颜色*!
    scrollbar-darkshadow-color: #666; !**!!*立体滚动条强阴影的颜色*!
    scrollbar-track-color: #666; !**!!*立体滚动条背景颜色*!
    scrollbar-base-color:#f8f8f8; !**!!*滚动条的基本颜色*!
}*/


[class^=ant-], [class*= ant-], [class^=ant-] *, [class*= ant-] *, [class^=ant-] *::before, [class*= ant-] *::before, [class^=ant-] *::after, [class*= ant-] *::after {
    box-sizing: border-box;
}

a, area, button, [role='button'], input:not([type='range']), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

::selection {
    color: #fff;
    background: #1890ff;
}

html {
    --antd-wave-shadow-color: #1890ff;
}

.ant-input:focus {
    border-color: #40a9ff;
    border-right-width: 1px !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.widgetWrap--23Q2c .widget--361St:hover {
    border-color: #0089ff;
    box-shadow: 0 4px 8px 0 rgba(17, 31, 44, 0.08);
}

.ant-select-selection-selected-value, .ant-input {
    color: #111F2C;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

*, *:before, *:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*

*/
.ant-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 32px;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.ant-input:hover {
    border-color: #40a9ff;
    border-right-width: 1px !important;
}

.m-form-vertical .m-field, .m-group .m-field.vertical {
    display: block;
}

.m-field-mobile {
    font-size: 17px;
}

.m-field {
    position: relative;
    padding: 12px 16px;
    line-height: 1.3;
}

.m-form-vertical .m-textnote .m-field .m-field-head {
    display: none;
}

.m-field-textnote-pc {
    color: #858e99;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1.6;
}

.m-field.m-field-cnformat {
    margin-top: -16px;
    padding-top: 0;
    background-color: transparent;
    font-size: 14px;
    color: #999;
    display: flex;
}

.m-field.m-field-cnformat > .m-field-head {
    margin-bottom: 0 !important;
}

.m-field.m-field-cnformat .m-field-box {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.m-field.m-field-cnformat .m-field-label {
    max-width: 40px !important;
}

.m-form-vertical .m-field .m-field-head, .m-group .m-field.vertical .m-field-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 8px;
}

.m-field .m-field-label {
    position: relative;
    color: #111F2C;
    word-break: break-word;
    margin-right: 10px;
}

.m-field.required .m-field-label:before {
    font-family: Simsun;
    font-size: 14px;
    line-height: 1;
    color: #ea6d5c;
    content: "*";
    transform: translateX(-10px);
    margin-right: -8px;
    display: inline-block;
}

.m-form-vertical .m-field.m-field-mobile .m-field-head, .m-group .m-field.vertical.m-field-mobile .m-field-head {
    margin-bottom: 7px;
}

.m-field .m-field-box {
    display: flex;
    align-items: center;
}

.m-form-vertical .m-field .m-field-box, .m-group .m-field.vertical .m-field-box {
    display: flex;
}

.m-field .m-field-content {
    flex: 1;
    width: 100%;
}

.m-field .m-field-content.left {
    text-align: left !important;
}

.m-form-vertical .m-field .m-field-content, .m-group .m-field.vertical .m-field-content {
    text-align: left;
}

.m-phone-field .m-phone-input-container, .m-phone-field .m-phone-country-key-container {
    display: flex;
    align-items: center;
    color: #191f25;
}

.m-phone-field .m-phone-input-container, .m-phone-field .m-phone-country-key-container {
    display: flex;
    align-items: center;
    color: #191f25;
}

.m-phone-field .m-phone-country-key-container {
    flex: none;
    line-height: 24px;
    margin-right: 8px;
    border-right: 1px solid rgba(25, 31, 37, 0.12);
}

.m-group .m-field-address .refreshBtn {
    position: absolute;
    width: 70px;
    font-size: 13px;
    top: 12px;
    right: 10px;
    color: #38adff;
    text-align: right;
}

.m-mobile-input .input-wrapper {
    display: flex;
    align-items: center;
}

.m-field .m-field-content.left input {
    text-align: left !important;
}

.m-group-mobile .m-field .ant-input {
    display: block;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

.m-mobile-input .m-mobile-inner-input, .m-mobile-input .m-mobile-inner-textarea {
    flex: 1;
    font-size: 17px;
    padding-left: 0;
    padding-right: 0;
    display: block;
    border: none;
    width: 100%;
}

.m-mobile-input .ant-input {
    padding-left: 0;
    padding-right: 0;
    font-size: 17px;
}

.ant-input:placeholder-shown {
    text-overflow: ellipsis;
}

.ant-input:placeholder-shown {
    text-overflow: ellipsis;
}

a, area, button, [role='button'], input:not([type='range']), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

/*select*/
.m-select-field {
    align-items: center;
}

.m-select-field, .m-select-field .m-field-box {
    align-items: center;
}

.m-group .m-select-field {
    align-items: center;
}

.m-field-mobile.m-select-field {
    align-items: flex-start;
}

.m-field .m-field-placeholder {
    color: rgba(25, 31, 37, 0.4);
}

.m-field .m-field-icon {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 16px;
    color: #a3a6a8;
}

.m-field-mobile.m-select-field .m-field-box .m-field-icon {
    margin-top: 5px;
}

/*
布局
*/
.designer--3Kmqx {
    height: 100vh;
    overflow: hidden;
}

/*
头部
*/
.create-page-header--3EpbO {
    z-index: 11;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    padding: 0 20px 0 20px;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(17, 31, 44, 0.04);
}

/*name*/
.create-page-header--3EpbO .name--3zwJd {
    display: flex;
    align-items: center;
}

.create-page-header--3EpbO .name--3zwJd .back--3sn1N {
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    border-radius: 100%;
    border: 1px solid rgba(25, 31, 37, 0.18);
    transition: 0.3s all;
    cursor: pointer;
}

.create-page-header--3EpbO .name--3zwJd .back--3sn1N svg {
    font-size: 12px;
    color: rgba(17, 31, 44, 0.85);
}

.ding-app-icon {
    position: relative;
    background-color: rgba(17, 31, 44, 0.12);
}

.ding-app-icon > .avatar {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.ding-app-icon > .opacity-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    opacity: 0.6;
}

.ding-app-icon > .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}

.create-page-header--3EpbO .name--3zwJd span {
    display: inline-block;
    max-width: 240px;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #111f2c;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*tab*/
.create-page-header--3EpbO .tab--dzVwi {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}

.tabs--2sK1i {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.tabs--2sK1i .tab--vzp3g {
    position: relative;
    display: inline-block;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 14px;
    color: rgba(17, 31, 44, 0.56);
    cursor: pointer;
}

.tabs--2sK1i .active--2Wkf_ {
    font-family: PingFangSC-Medium;
    color: #111f2c;
}

.tabs--2sK1i .link-bar--x8BPt {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    transform: translate3d(0px, 0px, 0px);
    width: 28px;
    height: 2px;
    border-radius: 2px;
    background-color: #0089ff;
    transform-origin: 0 0;
    box-sizing: border-box;
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*action*/
.create-page-header--3EpbO .action--2bU2n {
    display: flex;
    align-items: center;
}

.create-page-header--3EpbO .action--2bU2n .back-old--3kgB8 {
    font-size: 14px;
    color: rgba(17, 31, 44, 0.85);
    padding: 0;
    margin-right: 16px;
    cursor: pointer;
}

.ant-btn {
    line-height: 1.499;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
}

.ant-btn:not([disabled]):hover {
    text-decoration: none;
}

.ant-btn:active, .ant-btn.active {
    color: #096dd9;
    background-color: #fff;
    border-color: #096dd9;
}

.ant-btn:hover, .ant-btn:focus {
    color: #40a9ff;
    background-color: #fff;
    border-color: #40a9ff;
}

.ant-btn:not([disabled]):active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ant-btn > i, .ant-btn > span {
    display: inline-block;
    -webkit-transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    pointer-events: none;
}

.ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active {
    text-decoration: none;
    background: #fff;
}

.ant-btn, .ant-btn:active, .ant-btn:focus {
    outline: 0;
}

.ant-btn-link {
    color: #1890ff;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.create-page-header--3EpbO .action--2bU2n button:last-child {
    margin-left: 4px;
}

.ant-btn {
    border-radius: 16px !important;
}

.ant-btn-primary {
    color: #fff;
    background: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    background-color: #40a9ff;
    border-color: #40a9ff;
}

/*
下部
*/
.editor--G9Ono {
    /* display: flex;
     flex-direction: column;*/
    width: 100%;
    height: 100%;
    background: #fff;
}

.editor-bd--AuWhP {
    /* flex: 1;
     flex-grow:1;  !*Harry fixed*!
     display: flex;
     flex-direction: row;*/
    width: 100%;
}


.editor-left--2Htwp:first-child {
    border-right: 1px solid #ecedef;
}

.editor-left--2Htwp {
    background: #fafafa;
    position: absolute;
    left: 0;
}

/*
左边组件库
*/
.widgetPane--SzIh- {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 100vh;
    background: #f5f6f6;
}

.widgetPane--SzIh- .tab--3VwcT {
    position: relative;
    width: 100%;
    height: 100%;
}

.radioMenu--2VJfK {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    margin: 12px 12px 0;
    height: 28px;
    box-shadow: 0 2px 4px 0 rgba(17, 31, 44, 0.04);
    border: 1px solid #ecedef;
    border-radius: 16px;
    background-color: #fff;
}

.radioMenu--2VJfK .radioActive--3yLQE {
    color: #0089ff;
    font-family: PingFangSC-Medium;
}

.radioMenu--2VJfK .radio--Ohqoj {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 12px;
    color: rgba(17, 31, 44, 0.72);
    cursor: pointer;
}

.radioMenu--2VJfK .radioActive--3yLQE {
    color: #0089ff;
    font-family: PingFangSC-Medium;
}

.radioMenu--2VJfK .radio--Ohqoj:nth-child(2) {
    border-left: 1px solid #ecedef;
}

.radioMenu--2VJfK .radio--Ohqoj:nth-child(3) {
    border-left: 1px solid #ecedef;
}

.widgetPane--SzIh- .tab--3VwcT .radioContent--31nvB {
    position: absolute;
    left: 0;
    display: flex;
    height: 100%;
    padding-bottom: 100px;
    transition: left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    will-change: left;
    width: 560px;
}

.widgetPane--SzIh- .tab--3VwcT .radioContent--31nvB .item--3ibtL {
    width: 280px;
    padding-bottom: 48px;
    opacity: 1;
    /*ie 不兼容*/
    overflow-y: scroll;
    overflow: overlay;
    transition: opacity 0.45s;
}
.item--3ibtL .el-loading-mask{
    width:280px !important;
}

.widgetPane--SzIh- .widgetBoxWrap--2L7nW {
    width: 100%;
    padding: 0 12px;
}

.widgetPane--SzIh- .widgetBoxWrap--2L7nW .widgetBox--dFTZb {
    margin-top: 20px;
}

.widgetPane--SzIh- .widgetBoxWrap--2L7nW .widgetBox--dFTZb .content--1-wEx {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.widgetWrap--23Q2c {
    float: left;
}

.widgetWrap--23Q2c:nth-child(odd) {
    margin-right: 8px;
}

.widgetWrap--23Q2c .widget--361St {
    display: flex;
    align-items: center;
    width: 124px;
    height: 40px;
    margin-bottom: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: -webkit-grab;
    cursor: grab;
    background-color: #fff;
}

.widgetWrap--23Q2c .widget--361St > span:first-child {
    margin: 0 10px;
    color: #111f2c;
    font-size: 16px;
}

.widgetWrap--23Q2c .widget--361St > span:last-child {
    font-size: 12px;
    color: rgba(17, 31, 44, 0.85);
}

.anticon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.anticon[tabindex] {
    cursor: pointer;
}

/*
中部
*/
.editor-content--4MWdc {
    position: absolute;
    left: 280px;
    right: 300px;
    background: #f2f4f5;
    margin: 0 auto;
    text-align: center;
}

/*工具条*/
.toolbar--2EcHe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    padding: 0 20px;
    background: #fafafb;
    border-bottom: 1px solid #ebecee;
    box-sizing: border-box;
}

.toolbar--2EcHe .left--1htjI {
    display: flex;
    align-items: center;
}

.toolbar--2EcHe .left--1htjI > div:first-child {
    margin-right: 16px;
}

.toolbar--2EcHe .left--1htjI > div {
    cursor: pointer;
}

.toolbar--2EcHe .left--1htjI > div svg {
    font-size: 16px;
    color: #111f2c;
}

.toolbar--2EcHe .right--1CT62 {
    display: flex;
    align-items: center;
}

.toolbar--2EcHe .right--1CT62 > div:first-child {
    margin-right: 0;
}

.toolbar--2EcHe .right--1CT62 > div:first-child {
    margin-right: 0;
}

.toolbar--2EcHe .right--1CT62 > div {
    cursor: pointer;
}

.switch-lang--24ewp, .developer-set--ucgUM {
    text-align: center;
}

.switch-lang-select--CBSyi {
    position: relative;
}

.switch-lang-select-value--3PzMP {
    cursor: pointer;
    margin-left: 5px;
    font-size: 14px;
}

.switch-lang-select-value--3PzMP .switch-lang-select-icon--28cFu > svg {
    font-size: 14px !important;
}

.switch-lang-select-icon--28cFu {
    cursor: pointer;
    color: #1890FF;
    margin-left: 5px;
    transition: all 0.25s ease;
}

.toolbar--2EcHe .divider--3_nmI {
    margin: 0 16px;
}

.toolbar--2EcHe .right--1CT62 .barDisable--35s-5 svg {
    color: rgba(17, 31, 44, 0.56);
}

.ant-divider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    background: #e8e8e8;
}

.ant-divider, .ant-divider-vertical {
    position: relative;
    top: -.06em;
    display: inline-block;
    width: 1px;
    height: .9em;
    margin: 0 8px;
    vertical-align: middle;
}

/*内容*/
.simulatorWrap--3j3XL ::-webkit-scrollbar {
    display: none;
}

.simulatorWrapH5--dEcRl {
    display: flex;
    justify-content: center;
    /*background: #fff;*/
}

.simulatorWrap--3j3XL {
    width: 300px;
    height: 100vh;
    /*background-image: url(p40.jpeg);
    background-position: 300px 0;
    background-size: 100%; 860px 680px;*/
    background-image: url(png/p30.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 20px;
    margin: 0 auto;
    text-align: center;
}

.simulatorWrapH5--dEcRl .simulatorContent--2zpzw {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 80%;
    margin-top: 40px;
    max-height: 604px;
    /*border: 1px solid rgba(17, 31, 44, 0.08);
    box-shadow: 0 8px 40px 0 rgba(17, 31, 44, 0.12);
    border-radius: 24px;*/
}

.simulatorWrapH5--dEcRl .simulatorContent--2zpzw .simulator--QdpSZ {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    /*padding: 12px 1px 200px;*/
    background: #f2f4f5;
    border-radius: 0 0 14px 14px;
}

.simulatorWrap--3j3XL .simulator--QdpSZ {
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 1180px;
    margin: 0 auto;
    /*padding: 24px 24px 200px;*/
    overflow-y: auto;
    overflow-y: overlay;
    background: #fff;
}

/*cell*/
.cell--x8L2t {
    position: relative !important;
    min-height: 38px;
    margin-bottom: 16px;
    border-left: 3px solid #fff;
    transition: 0.3s all ease;
    background: #fff;
}

.cell--x8L2t:hover {
    z-index: 999;
    border-left: 3px solid #bfc1c2;
    box-shadow: 0 1px 10px 0 rgba(226, 226, 226, 0.5);
    cursor: -webkit-grab;
    cursor: grab;
}

.cell--x8L2t[data-active='true'] {
    z-index: 999;
    border-left: 3px solid #0089ff;
    box-shadow: 0 1px 10px 0 rgba(226, 226, 226, 0.5);
    border-radius: 0 8px 8px 0;
}

.cell--x8L2t .cellComp--2pTrs .bd--34kmI {
    position: relative;
}

.cell--x8L2t .leftCornerMark--2QhLz {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 16px solid #0089ff;
    border-right: 16px solid transparent;
    z-index: 10;
    opacity: 1 !important;
}

.cell-container--28Bpe {
    border: 1px dashed #ccc;
    border-top-color: rgb(204, 204, 204);
    border-top-style: dashed;
    border-top-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: dashed;
    border-right-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: dashed;
    border-left-width: 3px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-left-width: 3px;
}

.m-group {
    position: relative;
    margin-bottom: 16px;
    width: 100%;
}

.m-group-mobile {
    font-size: 17px;
    background: #fff;
}

.cell--x8L2t .cellComp--2pTrs .bd--34kmI .cellMask--1iOEm {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.cell--x8L2t[data-active='true'] > .cell-action--2Z_M9 {
    display: flex;
}

.cell-action--2Z_M9 {
    z-index: 100;
    position: absolute;
    top: 8px;
    right: 16px;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border-radius: 16px;
    background: rgba(17, 31, 44, 0.04);
}

.cell-action-item--1GQqJ {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cellLinkage--WqyLT {
    opacity: 0.6;
}

.cell--x8L2t .cellComp--2pTrs .bd--34kmI {
    position: relative;
}

.m-daterange-field .m-field-wrapper + .m-field-wrapper .m-field {
    border-top: 0.5px solid rgba(17, 31, 44, 0.12);
}

/*
表格
*/
.tableField--DHKqj {
    font-size: 14px;
}

.tableField--DHKqj .title--1wy5- {
    padding: 14px 10px;
    color: rgba(25, 31, 37, 0.56);
}

.tableField--DHKqj .content--1E_9E {
    min-height: 50px;
    background: #fff;
}

.tableField--DHKqj .noChildren--LgU8v {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddeff3;
}

.tableField--DHKqj .footer--Bql-i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    color: #999;
}

.tableField--DHKqj .content--1E_9E .empty--dugY2 {
    color: #ccc;
}

/*
右边
*/
.editor-right--cqVJN {
    width: 300px;
    background: #fff;
    border-left: 1px solid #ecedef;
    position: absolute;
    right: 0;
}

.setter-pane--27hNx {
}

.ant-card {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    position: relative;
    background: #fff;
    border-radius: 2px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.setter-pane--27hNx .ant-card-small > .ant-card-head {
    height: 32px;
    min-height: 32px;
}

.ant-card-small > .ant-card-head {
    min-height: 36px;
    padding: 0 12px;
    font-size: 14px;
}

.ant-card-type-inner .ant-card-head {
    padding: 0 24px;
    background: #fafafa;
}

/*head*/
.ant-card-head {
    min-height: 48px;
    margin-bottom: -1px;
    padding: 0 24px;
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    font-size: 16px;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #e8e8e8;
    border-radius: 2px 2px 0 0;
    zoom: 1;
}

.ant-card-head:after, .ant-card-head:before {
    display: table;
    content: "";
}

.ant-card-head-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ant-card-small > .ant-card-head {
    min-height: 36px;
    padding: 0 12px;
    font-size: 14px;
}

.ant-card-head:after {
    clear: both;
}

.ant-card-head:after, .ant-card-head:before {
    display: table;
    content: "";
}

.setter-pane--27hNx .ant-card-small > .ant-card-head > .ant-card-head-wrapper > .ant-card-head-title {
    padding: 6px 0;
}

.ant-card-small > .ant-card-head > .ant-card-head-wrapper > .ant-card-head-title {
    padding: 8px 0;
}

.ant-card-type-inner .ant-card-head-title {
    padding: 12px 0;
    font-size: 14px;
}

.ant-card-head-title {
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ant-card-type-inner .ant-card-head-title {
    padding: 12px 0;
    font-size: 14px;
}

.setter-pane--27hNx .titleNode--12aaj {
    display: flex;
    align-items: center;
    padding: 0 4px;
}

.setter-pane--27hNx .titleNode--12aaj > span:first-child {
    margin-right: 4px;
    color: #111f2c;
    font-size: 16px;
}

.setter-pane--27hNx .titleNode--12aaj > span:last-child {
    font-size: 12px;
    color: #191f25;
    line-height: 18px;
}

/*body*/
.ant-card-body {
    padding: 24px;
    zoom: 1;
}

.setter-pane--27hNx .ant-card-small > .ant-card-body {
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    overflow-y: overlay;
    padding-bottom: 100px;
}

.ant-card-small > .ant-card-body {
    padding: 12px;
}

.ant-card-type-inner .ant-card-body {
    padding: 16px 24px;
}

.ant-card-body:after, .ant-card-body:before {
    display: table;
    content: "";
}

.ant-card-body:after {
    clear: both;
}

.ant-card-body:after, .ant-card-body:before {
    display: table;
    content: "";
}

.setter-pane--27hNx .formItem--2egNe {
    margin-bottom: 12px;
}

.ant-row {
    display: flex;
    flex-flow: row wrap;
}

.ant-row {
    position: relative;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    zoom: 1;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ant-form-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    margin-bottom: 24px;
    vertical-align: top;
}

.ant-row::before, .ant-row::after {
    display: table;
    content: '';
}

.ant-col {
    position: relative;
    min-height: 1px;
}

.ant-form-item-control {
    position: relative;
    line-height: 40px;
    zoom: 1;
}

.ant-form-item-control::before, .ant-form-item-control::after {
    display: table;
    content: '';
}

.ant-form-item-children {
    position: relative;
}

.labelWrap--1KFRf {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ant-select-selection {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-top-width: 1.02px;
    border-radius: 4px;
    outline: none;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ant-select-selection:hover {
    border-color: #40a9ff;
    border-right-width: 1px !important;
}

.ant-select-selection--single {
    position: relative;
    height: 32px;
    cursor: pointer;
}

.ant-select-selection__rendered {
    position: relative;
    display: block;
    margin-right: 11px;
    margin-left: 11px;
    line-height: 30px;
}

.ant-select-selection--single .ant-select-selection__rendered {
    margin-right: 24px;
}

.ant-select-selection-selected-value {
    float: left;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ant-select-selection__rendered::after {
    display: inline-block;
    width: 0;
    visibility: hidden;
    content: '.';
    pointer-events: none;
}

.ant-select-arrow {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    right: 11px;
    margin-top: -6px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 12px;
    line-height: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.ant-select-arrow > * {
    line-height: 1;
}

.ant-select-arrow .anticon {
    vertical-align: top;
    transition: transform 0.3s;
}

.ant-select-arrow .ant-select-arrow-icon {
    display: block;
}

.ant-select-arrow .anticon:not(.ant-select-suffix) {
    pointer-events: auto;
}

.ant-select-arrow .anticon > svg {
    vertical-align: top;
}

.ant-select-arrow .ant-select-arrow-icon svg {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.labelWrap--24lgx {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ant-switch-inner {
    display: block;
    margin-right: 6px;
    margin-left: 24px;
    color: #fff;
    font-size: 12px;
}

.ant-switch {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 44px;
    height: 22px;
    line-height: 20px;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
    border-radius: 100px;
    cursor: pointer;
    -webkit-transition: all 0.36s;
    transition: all 0.36s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ant-form-item .ant-switch {
    margin: 2px 0 4px;
}

.ant-switch::after {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
    box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
}

.ant-switch-loading-icon, .ant-switch::after {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 18px;
    cursor: pointer;
    -webkit-transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    content: ' ';
}

.ant-switch::after {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
    box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
}

.ant-switch-checked::after {
    left: 100%;
    margin-left: -1px;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.ant-switch-checked {
    background-color: #1890ff;
}

[ant-click-animating-without-extra-node='true']::after, .ant-click-animating-node {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 0 #1890ff;
    box-shadow: 0 0 0 0 #1890ff;
    -webkit-box-shadow: 0 0 0 0 #1890ff;
    -webkit-box-shadow: 0 0 0 0 var(--antd-wave-shadow-color);
    box-shadow: 0 0 0 0 #1890ff;
    box-shadow: 0 0 0 0 var(--antd-wave-shadow-color);
    opacity: 0.2;
    -webkit-animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
    animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    content: '';
    pointer-events: none;
}

.ant-switch-checked .ant-switch-inner {
    margin-right: 24px;
    margin-left: 6px;
}

.ant-switch-checked .ant-switch-inner {
    margin-right: 24px;
    margin-left: 6px;
}

.ant-switch:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.labelWrap--24lgx .subLabel--16NlS {
    font-size: 12px;
    color: rgba(25, 31, 37, 0.4);
    line-height: 18px;
}

.labelWrap--24lgx .label--1TVeY {
    margin-right: 8px;
    font-size: 14px;
}

.toolbar--2EcHe .right--1CT62 > div svg {
    font-size: 16px;
    color: #111f2c;
}

/*按钮*/
.ant-switch:not(.ant-switch-disabled):active::before, .ant-switch:not(.ant-switch-disabled):active::after {
    width: 24px;
}

.ant-switch:not(.ant-switch-disabled):active:after, .ant-switch:not(.ant-switch-disabled):active:before {
    width: 24px;
}

button:active {
    border-style: inset;
}

/*选项*/
.listSetter--2yRfR .footer--2O7G_ {
    line-height: 18px;
}

.listSetter--2yRfR .footer--2O7G_ > span {
    font-size: 12px;
    color: #1890ff;
    letter-spacing: -0.22px;
    cursor: pointer;
}

.listCell--1QG3W {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.listCell--1QG3W .drag--YSYgX {
    margin-right: 4px;
    font-size: 18px;
    color: rgba(17, 31, 44, 0.85);
    cursor: move;
}

.listCell--1QG3W .input--2AciD {
    flex: 1;
    margin-right: 8px;
}

.listCell--1QG3W .operation--dA6c5 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.listCell--1QG3W .operation--dA6c5 .remove--2Y6_- {
    font-size: 18px;
    color: rgba(17, 31, 44, 0.85);
}

/*
弹窗
*/
.ant-modal-mask, .ant-image-preview-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    filter: alpha(opacity=50);
}

.ant-modal-mask-hidden, .ant-image-preview-mask-hidden {
    display: none;
}

.ant-modal-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    outline: 0;
    -webkit-overflow-scrolling: touch;
}

.ant-modal-wrap, .ant-image-preview-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    outline: 0;
    -webkit-overflow-scrolling: touch;
}

.ant-modal {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    position: relative;
    top: 100px;
    width: auto;
    margin: 0 auto;
    padding: 0 0 24px;
    pointer-events: none;
}

.ant-modal, .ant-image-preview {
    pointer-events: none;
}

.ant-modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
    pointer-events: auto;
}

.ant-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    color: rgba(0, 0, 0, .45);
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    border: 0;
    outline: 0;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.ant-modal-close-x {
    display: block;
    width: 56px;
    height: 56px;
    font-size: 16px;
    font-style: normal;
    line-height: 56px;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
}

.ant-modal-header {
    padding: 16px 24px;
    color: rgba(0, 0, 0, .65);
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 4px 4px 0 0;
}

.ant-modal-header {
    border-bottom: 0;
}

.ant-modal-title {
    margin: 0;
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    word-wrap: break-word;
}

.ant-modal-header .ant-modal-title {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #111f2c;
}

.ant-modal-body {
    padding: 24px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}

.ant-modal-body {
    padding: 0 24px;
}

.linkModal--2w_dN .description--3ZW66 {
    margin-bottom: 10px;
}

.ant-table-wrapper {
    zoom: 1;
}

.ant-table-wrapper::before, .ant-table-wrapper::after {
    display: table;
    content: '';
}

.ant-spin-nested-loading {
    position: relative;
}

.ant-table-wrapper::before, .ant-table-wrapper::after {
    display: table;
    content: '';
}

.ant-table-wrapper::after {
    clear: both;
}

.ant-spin-container {
    position: relative;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.ant-table {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    clear: both;
}

.ant-spin-container::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none \9;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    content: '';
    pointer-events: none;
}

.ant-table-body {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.ant-table table {
    width: 100%;
    text-align: left;
    border-radius: 4px 4px 0 0;
    border-collapse: separate;
    border-spacing: 0;
}

.ant-table-row-cell-break-word {
    word-wrap: break-word;
    word-break: break-word;
}

.ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    text-align: left;
    background: #fafafa;
    border-bottom: 1px solid #e8e8e8;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 16px 16px;
    word-wrap: break-word;
}

.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: 1px solid #e8e8e8;
}

.ant-table-thead > tr:first-child > th:first-child {
    border-top-left-radius: 4px;
}

.ant-table-thead > tr:first-child > th:first-child {
    border-top-left-radius: 4px;
}

.ant-table-thead > tr > th .ant-table-header-column {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
}

.ant-table-thead > tr > th .ant-table-column-sorter {
    display: table-cell;
    vertical-align: middle;
}

.ant-table-thead > tr, .ant-table-tbody > tr {
    -webkit-transition: all 0.3s, height 0s;
    transition: all 0.3s, height 0s;
}

.ant-table-row-cell-break-word {
    word-wrap: break-word;
    word-break: break-word;
}

.ant-table-tbody > tr > td {
    border-bottom: 1px solid #e8e8e8;
    -webkit-transition: all 0.3s, border 0s;
    transition: all 0.3s, border 0s;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 16px 16px;
    word-wrap: break-word;
}

.ant-table-bordered .ant-table-tbody > tr > td, .ant-table-bordered .ant-table-thead > tr > th {
    border-right: 1px solid #e8e8e8;
}

.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: 1px solid #e8e8e8;
}

.ant-select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    outline: 0;
    cursor: pointer;
}

.ant-select ul, .ant-select ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ant-select-selection--multiple {
    min-height: 32px;
    padding-bottom: 3px;
    cursor: text;
    zoom: 1;
}

.ant-select-selection--multiple::before, .ant-select-selection--multiple::after {
    display: table;
    content: '';
}

.ant-select-selection--multiple::after {
    clear: both;
}

.ant-select-selection__rendered {
    position: relative;
    display: block;
    margin-right: 11px;
    margin-left: 11px;
    line-height: 30px;
}

.ant-select-selection--multiple .ant-select-selection__rendered {
    height: auto;
    margin-bottom: -3px;
    margin-left: 5px;
}

.ant-select-selection--multiple .ant-select-selection__rendered {
    height: auto;
    margin-bottom: -3px;
    margin-left: 5px;
}

.linkModal--2w_dN .ant-select-selection--multiple .ant-select-selection__rendered {
    max-width: 320px;
}

.ant-select-selection__placeholder, .ant-select-search__field__placeholder {
    position: absolute;
    top: 50%;
    right: 9px;
    left: 0;
    max-width: 100%;
    height: 20px;
    margin-top: -10px;
    overflow: hidden;
    color: #bfbfbf;
    line-height: 20px;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
}

.ant-select-selection--multiple .ant-select-selection__placeholder {
    margin-left: 6px;
}

.ant-select-selection--multiple > ul > li, .ant-select-selection--multiple .ant-select-selection__rendered > ul > li {
    height: 24px;
    margin-top: 3px;
    line-height: 22px;
}

.ant-select-selection--multiple .ant-select-search--inline .ant-select-search__field {
    width: 0.75em;
    max-width: 100%;
    padding: 1px;
}

.ant-select-search--inline .ant-select-search__field {
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    background: transparent;
    border-width: 0;
    border-radius: 4px;
    outline: 0;
}

.ant-select-selection--multiple .ant-select-search--inline {
    position: static;
    float: left;
    width: auto;
    max-width: 100%;
    padding: 0;
}

.ant-select-search__field__wrap {
    position: relative;
    display: inline-block;
}

.ant-select-search--inline .ant-select-search__field__wrap {
    width: 100%;
    height: 100%;
}

.ant-select-search__field__mirror {
    position: absolute;
    top: 0;
    left: 0;
    white-space: pre;
    opacity: 0;
    pointer-events: none;
}

.ant-table-thead > tr, .ant-table-tbody > tr {
    -webkit-transition: all 0.3s, height 0s;
    transition: all 0.3s, height 0s;
}

.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: 1px solid #e8e8e8;
}

.ant-table-tbody > tr > td {
    border-bottom: 1px solid #e8e8e8;
    -webkit-transition: all 0.3s, border 0s;
    transition: all 0.3s, border 0s;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 16px 16px;
    word-wrap: break-word;
}

.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: 1px solid #e8e8e8;
}

.ant-modal-footer {
    padding: 10px 16px;
    text-align: right;
    background: rgba(0, 0, 0, 0);
    border-top: 1px solid #e8e8e8;
    border-radius: 0 0 4px 4px;
}

.ant-modal-footer {
    border-top: 0;
}

/*
区域匡
*/
textarea.ant-input {
    max-width: 100%;
    height: auto;
    min-height: 32px;
    line-height: 1.5;
    vertical-align: bottom;
    -webkit-transition: all 0.3s, height 0s;
    transition: all 0.3s, height 0s;
}

/*
基础设置
*/
.baseSettingWrap--wA9r3 {
    position: absolute;
    left: 0;
    top: 54px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    background: #f2f4f5;
}

.base-setting--3yozX {
    position: relative;
    width: 660px;
    padding: 24px;
    border-radius: 8px;
    background: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12px;
    right: 0;
    bottom: 12px;
    overflow: auto;
}

.ant-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.ant-form-item-label {
    display: inline-block;
    overflow: hidden;
    line-height: 39.9999px;
    white-space: nowrap;
    text-align: right;
    vertical-align: middle;
}

.base-setting--3yozX .ant-form-item-label {
    line-height: 1;
    margin-bottom: 8px;
    font-weight: bold;
}

.select--2-r0v {
    display: flex;
    align-items: center;
    border: 1px solid rgba(17, 31, 44, 0.12);
    border-radius: 5px;
    cursor: pointer;
}

.select--2-r0v > .value--3vnGJ {
    flex: 1;
    height: 32px;
    line-height: 32px;
    padding: 0px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #191F25;
}

.ant-form-item label {
    position: relative;
}

.ant-form-item-label > label {
    color: rgba(0, 0, 0, 0.85);
}

.ant-form-item-required::before {
    display: inline-block;
    margin-right: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
}

.base-setting--3yozX .label-extra--2Spu9 {
    margin-left: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
    font-style: normal;
    font-weight: normal;
}

.ghost-to {
    position: absolute;
}

#swap-canvas-effect {
    position: fixed;
    background: #0089ff;
    z-index: 10000000;
    text-align: center;
    pointer-events: none;
}

#swap-canvas-effect:before, #swap-canvas-effect:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    border: 4px solid #0089ff;
    pointer-events: none;
}

#swap-canvas-effect.left, #swap-canvas-effect.right {
    width: 2px;
}

#swap-canvas-effect.left:before, #swap-canvas-effect.right:before, #swap-canvas-effect.left:after, #swap-canvas-effect.right:after {
    left: -4px;
    border-left-color: transparent;
    border-right-color: transparent;
}

#swap-canvas-effect.left:before, #swap-canvas-effect.right:before {
    top: 0;
    border-bottom-width: 0;
}

#swap-canvas-effect.left:after, #swap-canvas-effect.right:after {
    bottom: 0;
    border-top-width: 0;
}

#swap-canvas-effect.top, #swap-canvas-effect.bottom, #swap-canvas-effect.in {
    height: 2px;
}

#swap-canvas-effect.top:before, #swap-canvas-effect.bottom:before, #swap-canvas-effect.in:before, #swap-canvas-effect.top:after, #swap-canvas-effect.bottom:after, #swap-canvas-effect.in:after {
    top: -3px;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

#swap-canvas-effect.top:before, #swap-canvas-effect.bottom:before, #swap-canvas-effect.in:before {
    left: 0;
    border-right-width: 0;
}

#swap-canvas-effect.top:after, #swap-canvas-effect.bottom:after, #swap-canvas-effect.in:after {
    right: 0;
    border-left-width: 0;
}

#swap-canvas-effect.in b {
    display: inline-block;
}

#swap-canvas-effect b {
    display: inline-block;
    position: relative;
    top: -12px;
    margin: 0 auto;
    padding: 0 10px;
    color: #fff;
    background: #0089ff;
    height: 16px !important;
    line-height: 16px !important;
    font-weight: normal;
    font-size: 11px;
    display: none;
}

.widgetPane--SzIh- .widgetBoxWrap--2L7nW .widgetBox--dFTZb .title--3aQ_J {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.widgetPane--SzIh- .widgetBoxWrap--2L7nW .widgetBox--dFTZb .title--3aQ_J > span:first-child {
    margin-right: 6px;
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #111f2c;
}

.biz-icon .addIconFull {
    cursor: pointer;
    display: inline-block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAMAAADVRocKAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURfb29r/Bws/Q0c/R0ZyJIXEAAABLSURBVGje7dWBCcAgDEVB87v/znaEgFYq3C3wQghkDAAAuFKq8mmgXgICAgICApsDqZYszdvx30BzRY8zFRAQEBC4LZC9/wsAAA6abIABO6ncVh4AAAAASUVORK5CYII=) no-repeat 0 0px;
    height: 48px;
    width: 48px;
    background-size: 100%;
}

.title-space {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title-space .subLabel--16NlS {
    font-size: 12px;
    color: rgba(25, 31, 37, 0.4);
    line-height: 18px;
}

.title-space .label--1TVeY {
    margin-right: 8px;
    font-size: 14px;
}

.black-icon {
    font-size: 18px;
    color: black;
    cursor: pointer;
}

.active-icon {
    font-size: 18px;
    color: #1890ff;
    cursor: pointer;
}

.ag-dialog-panel {
    min-height: 300px;
}

.ag-container {
    display: flex;
    position: relative;
}

.ag-container-group {
    padding: 10px 0 5px;
    width: 100%;
}

.ag-divider-container {
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    padding: 2px 10px 2px 0;
}

.ag-divider-container:not(:first-child) {
    margin-top: 10px;
}

.ag-divider {
    background-color: #E4E7ED;
    position: relative;
}

.ag-divider--horizontal {
    display: block;
    width: 3px;
    margin: 0 17px;
}

.ag-divider__text.is-centre {
    top: calc(50% - 10px);
    transform: translateX(-50%);
    color: #0089ff;
}

.ag-divider__text {
    position: absolute;
    background-color: #fff;
    padding: 0 0 2px 2px;
    font-weight: 500;
    color: #303133;
    font-size: 14px;
    cursor: pointer;
}

.condi-body {
    padding: 8px 0 5px 0;
}

.ag-condi-item_option {
    line-height: 40px;
    padding-right: 5px;
}

.end-opt-column {
    padding: 4px 0 0 5px;
}

.ag-edit-menu {
    padding: 5px;
    border-color: #DCDFE6;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.ag-edit-tool__list {
    display: flex;
    flex-wrap: wrap;
}

.ag-edit-tool {
    font-size: 13px;
    border-radius: 4px;
    padding: 4px;
    min-width: 32px;
    text-align: center;
    cursor: context-menu;
}

.ag-edit-tool__ele {
    text-align: left;
}

.ag-edit-tool:hover {
    background: #f5f7fa;
}

.ag-edit-work {

}

.ag-edit-work .el-textarea__inner {
    border: none;
    resize: none;
}

.ag-panel__opt {
    padding-top: 5px;
}

.ag-panel__opt a + a {
    margin-left: 10px;
}

.element-ctrl-tool {
    padding-bottom: 10px;
}

.no-foot-datawarp {
    padding-bottom: 20px;
}

.ag-editor-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    box-sizing: border-box;
    min-width: 0;
}

.ag-editor-container ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #f8f8f8;
}

.ag-editor-container ::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: #e8e8e8;
}

.ag-aside {
    width: 200px;
    padding: 5px;
    border-color: #DCDFE6;
    border-radius: 4px 0 0 4px;
    border-style: solid;
    border-width: 1px;
    overflow-y: auto;
    max-height: 400px;
    min-height: 300px;
}

.ag-main {
    flex: 1;
    border-color: #DCDFE6;
    border-radius: 0 4px 4px 0;
    border-style: solid;
    border-width: 1px 1px 1px 0;
}